body{
    text-align: center;
}
.sketch{
    background-color: white;
    outline:1px solid black;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vmin;
    height: 80vmin;
    margin: auto;
}
.hidden{
    display: none;
}
#show{
    width: 10%;
    height: 10%;
    margin: 2%;
    font-size: 150%;
}
#pad-size{
    width: 10%;
    height: 10%;
    margin: 2%;
    font-size: 150%;
}
#change-size{
    border-color:blanchedalmond;
    width: 10%;
    height: 10%;
    margin: 2%;
    font-size: 150%;
    border-radius: 8%;
}